<mat-card class="form">
  <mat-card-content>
    <form [formGroup]="address">
      <div>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Imię</mat-label>
          <input formControlName="firstName" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Nazwisko</mat-label>
          <input formControlName="lastName" matInput >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Ulica</mat-label>
          <input formControlName="street" matInput>
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Numer</mat-label>
          <input formControlName="number" type="number" matInput >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Miasto</mat-label>
          <input formControlName="city" matInput >
        </mat-form-field>
        <mat-form-field appearance="fill" class="input">
          <mat-label>Kraj</mat-label>
          <input formControlName="country" matInput >
        </mat-form-field>
      </div>
      <section>
        <button mat-raised-button color="primary" type="button" (click)="onSubmit()">Dodaj</button>
        <button mat-raised-button color="warn" type="button" (click)="resetForm()">Wyczyść</button>
      </section>
    </form>
  </mat-card-content>
</mat-card>
